# Ignore environment variable files
.env

# Ignore database files
*.db

# Ignore Flask session files
/flask_session

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/
ENV/

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python egg files
*.egg
*.egg-info/
dist/
build/
